* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 body {
     font-family: "Raleway", Helvetica, serif;
 }
 .clearfix {
     content: "";
     display: table;
     clear: both;
 }
 .wrapper {
     width: 1200px;
     padding-left: 30px;
     padding-right: 30px;
     margin: auto;
 }
 .section {
     width: 100%;
 }
.header {
    background-color: black;
    height: 40px;
    color: white;
}
.logo {
    width: 150px;
    height: 40px;
    font-size: 14px;
    font-weight: 400;
    line-height: 40px;
    text-transform: uppercase;
    float: left;
}
.logo-span {
    color: #27c7ab;
    font-weight: bold;
}
nav {
    color: white;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    float: right;
    position: relative;
}
.main-nav {
    font-weight: bold;
    text-transform: uppercase;
    list-style-type: none;
    padding-left: 50px;
    display: inline;
    float: left;
}
.main-nav-li {
    font-weight: bold;
    text-transform: uppercase;
    list-style-type: none;
    padding-left: 50px;
    display: inline;
    float: left;
    position: relative;
}
.secondary-nav {
    width: 115px;
    height: 100px;
    background-color: black;
    font-size: 14px;
    font-weight: normal;
    text-transform: none;
    line-height: 14px;
    clear: both;
    display: none;
    position: absolute;
    bottom: -112px;
    left: 29px;
    z-index: 3;
}
#triangle{
    transform: rotate(45deg);
    width: 15px;
    height: 15px;
    background-color: black;
    position: absolute;
    left: 50px;
    top: -7.5px;
}
.secondary-nav-li {
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 1px;
}
.main-nav-li:hover .secondary-nav {
    display: inline-block;
}
.welcome {
    /*padding-top: 135px;*/
    height: 500px;
    background: rgba(253,253,253,1);
background: -moz-linear-gradient(top, rgba(253,253,253,1) 0%, rgba(203,206,213,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(253,253,253,1)), color-stop(100%, rgba(203,206,213,1)));
background: -webkit-linear-gradient(top, rgba(253,253,253,1) 0%, rgba(203,206,213,1) 100%);
background: -o-linear-gradient(top, rgba(253,253,253,1) 0%, rgba(203,206,213,1) 100%);
background: -ms-linear-gradient(top, rgba(253,253,253,1) 0%, rgba(203,206,213,1) 100%);
background: linear-gradient(to bottom, rgba(253,253,253,1) 0%, rgba(203,206,213,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#cbced5', GradientType=0 );
}
.inside-welcome {
    margin-top: 135px;
    display: inline;
    float: left;
}
.slide-left {
    margin-top: 190px;
    font-size: 85px;
    font-weight: normal;
    color: #27c7ab;
}
.slide-left:hover {
    color: #2ca48f;
}
.slide-left:active {
    color: #328f7f;
}
#welcome-img {
    margin-top: 85px;
}
#welcome-img img{
    width: 500px;
}
.welcome-info {
    text-align: center;
    width: 500px;
}
#welcome-head {
    font-size: 36px;
    font-weight: normal;
    text-transform: uppercase;
}
#welcome-head .welcome-head-span {
    color: #27c7ab;
    font-weight: bold;
}
.welcome-info article p {
    margin-top: 36px;
    margin-bottom: 26px;
}
button {
    width: 265px;
    height: 55px;
    font-family: "Raleway", Helvetica, serif;
    font-size: 25px;
    font-weight: normal;
    text-transform: uppercase;
    color: white;
    background-color: #27c7ab;
    border: none;
    border-radius: 10px;
    box-shadow: 0;
    outline: 0;
}
button:hover {
    color: grey;
    border: none;
    box-shadow: 0;
    outline: 0;
}
button:active {
    background-color: #2ca48f;
    border: none;
    box-shadow: 0;
    outline: 0;
}
button:visited {
    width: 265px;
    height: 55px;
    font-family: "Raleway", Helvetica, serif;
    font-size: 25px;
    font-weight: normal;
    text-transform: uppercase;
    color: white;
    background-color: #27c7ab;
    border: none;
    border-radius: 10px;
    box-shadow: 0;
    outline: 0;
}

.slide-rigth {
    margin-top: 190px;
    font-size: 85px;
    font-weight: normal;
    color: #27c7ab;
    float: right;
}
.slide-rigth:hover {
    color: #2ca48f;
}
.slide-rigth:active {
    color: #328f7f;
}
.products {
    height: 350px;
    background-color: white;
}
.product-presentation {
    margin-top: 30px;
    width: 329px;
    height: 225px;
    float: left;
    position: relative;
}
.product-presentation-second {
    margin-top: 30px;
    margin-left: 76.5px;
    margin-right: 76.5px;
    width: 329px;
    height: 225px;
    float: left;
    position: relative;
}
.product-image-first {
    background-image: url("../images/box1_img.jpg");
    width: 329px;
    height: 225px;
    position: relative;
}
.product-head {
    width: 329px;
    height: 60px;
    padding-left: 15px;
    background-color: rgba(255, 255, 255, 0.4);
    position: absolute;
    top: 150px;
}
.product-head h1{
    padding-top: 15px;
    width: 145px;
    font-size: 15px;
    border-bottom: 7px solid #27c7ab;
}
.product-head span {
    text-transform: uppercase;
}
.product-description {
    display: none;
    border: 1px solid grey;
    position: absolute;

}
.product-description article {
    padding-left: 20px;
    padding-top: 35px;
    padding-right: 20px;
    padding-bottom: 20px;
    font-size: 15px;
}
.product-description article h1{
    width: 145px;
    font-size: 15px;
    border-bottom: 7px solid #27c7ab;
}
.product-description article p{
    margin-top: 15px;
    margin-bottom: 10px;
}
.product-image-second {
    background-image: url("../images/box2_img.jpg");
    width: 329px;
    height: 225px;
    position: relative;
}
.product-image-third {
    background-image: url("../images/box2_img.jpg");
    width: 329px;
    height: 225px;
    position: relative;
    display: none;
}
.shown {
    display: inline-block;
}
.plans{
    height: 725px;
    background-color: #f1f1f1;
}
.plans-head{
    padding-top: 50px;
    width: 320px;
    font-size: 21px;
    font-weight: normal;
    text-transform: uppercase;
    color: #5a5a5a;
    border-bottom: 7px solid #27c7ab;
}
.plan-list {
    margin-top: 60px;
}
.plan {
    width: 329px;
    height: 500px;
    float: left;
    position: relative;
    text-align: center;
    border: 1px solid #c2c2c2;
    background-color: #f9f9f9;
}
.circle {
    width: 60px;
    height: 60px;
    border: 1px solid #c2c2c2;
    background-color: #ffffff;
    border-radius: 50%;
    position: absolute;
    left: 135px;
    top: -30px;
}
.circle-inner {
    width: 30px;
    height: 30px;
    border: 1px solid #c2c2c2;
    background-color: #c2c2c2;
    border-radius: 50%;
    position: absolute;
    left: 14px;
    top: 14px;
}
.plan h1 {
    margin: 35px;
    font-size: 25px;
    font-weight: normal;
    color: #27c7ab;
    text-transform: uppercase;
}
.price {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: 1px solid #c2c2c2;
    background-color: #ffffff;
    position: absolute;
    left: 100px;
}
.price p {
    padding-top: 25px;
    color: #c2c2c2;
    text-transform: uppercase;
}
.price p span{
    font-size: 40px;
    font-weight: bold;
}
.price p span sup {
    font-size: 20px;
}
.service-list {
    width: 327px;
    position: absolute;
    top: 250px;

}
.service-list ul li{
    padding-top: 5px;
    padding-bottom: 5px;
    list-style-type: none;
    font-size: 25px;
}
.service-list ul li:nth-child(2n+1){
    background-color: #e4e4e4;
    color: #a9a9a9;
}
.service-list ul li:nth-child(2n){
    background-color: #f1f1f1;
    color: #828282;
}
.pushme {
    width: 125px;
    height: 35px;
    background-color: #27c7ab;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    line-height: 35px;
    text-transform: uppercase;
    position: absolute;
    left: 100px;
    bottom: 20px;
}
.plan-second {
    width: 329px;
    height: 500px;
    margin-left: 76.5px;
    margin-right: 76.5px;
    float: left;
    position: relative;
    text-align: center;
    border: 1px solid #27c7ab;
    background-color: #27c7ab;
}
.circle-second {
    width: 60px;
    height: 60px;
    border: 1px solid #27c7ab;
    background-color: #27c7ab;
    border-radius: 50%;
    position: absolute;
    left: 135px;
    top: -30px;
}
.circle-inner-second {
    width: 30px;
    height: 30px;
    border: 1px solid white;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    left: 14px;
    top: 14px;
}
.plan-second h1 {
    margin: 35px;
    font-size: 25px;
    font-weight: normal;
    color: white;
    text-transform: uppercase;
}
.price-second {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: 1px solid #27c7ab;
    background-color: #ffffff;
    position: absolute;
    left: 100px;
}
.price-second p {
    padding-top: 25px;
    color: #27c7ab;
    text-transform: uppercase;
}
.price-second p span{
    font-size: 40px;
    font-weight: bold;
}
.price-second p span sup {
    font-size: 20px;
}
.service-list-second {
    width: 327px;
    position: absolute;
    top: 250px;

}
.service-list-second ul li{
    padding-top: 5px;
    padding-bottom: 5px;
    list-style-type: none;
    font-size: 25px;
}
.service-list-second ul li:nth-child(2n+1){
    background-color: #ffffff;
    color: #a9a9a9;
}
.service-list-second ul li:nth-child(2n){
    background-color: #f1f1f1;
    color: #a9a9a9;
}
.pushme-second {
    width: 125px;
    height: 35px;
    background-color: white;
    border-radius: 5px;
    color: #27c7ab;
    font-size: 20px;
    line-height: 35px;
    text-transform: uppercase;
    position: absolute;
    left: 100px;
    bottom: 20px;
}
