* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 body {
     font-family: "Raleway", Helvetica, serif;
 }
 .clearfix {
     content: "";
     display: table;
     clear: both;
 }
 .wrapper {
     width: 1200px;
     padding-left: 30px;
     padding-right: 30px;
     margin: auto;
 }
 .section {
     width: 100%;
 }
.header {
    background-color: black;
    height: 40px;
    color: white;
}
.logo {
    width: 150px;
    height: 40px;
    font-size: 14px;
    font-weight: 400;
    line-height: 40px;
    text-transform: uppercase;
    float: left;
}
.logo-span {
    color: #27c7ab;
    font-weight: bold;
}
nav {
    color: white;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    float: right;
    position: relative;
}
.main-nav {
    font-weight: bold;
    text-transform: uppercase;
    list-style-type: none;
    padding-left: 50px;
    display: inline;
    float: left;
}
.main-nav-li {
    font-weight: bold;
    text-transform: uppercase;
    list-style-type: none;
    padding-left: 50px;
    display: inline;
    float: left;
    position: relative;
}
.secondary-nav {
    width: 115px;
    height: 100px;
    background-color: black;
    font-size: 14px;
    font-weight: normal;
    text-transform: none;
    line-height: 14px;
    clear: both;
    display: none;
    position: absolute;
    bottom: -112px;
    left: 29px;
    z-index: 3;
}
#triangle{
    transform: rotate(45deg);
    width: 15px;
    height: 15px;
    background-color: black;
    position: absolute;
    left: 50px;
    top: -7.5px;
}
.secondary-nav-li {
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 1px;
}
.main-nav-li:hover .secondary-nav {
    display: inline-block;
}
.welcome {
    /*padding-top: 135px;*/
    height: 500px;
    background: rgba(253,253,253,1);
background: -moz-linear-gradient(top, rgba(253,253,253,1) 0%, rgba(203,206,213,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(253,253,253,1)), color-stop(100%, rgba(203,206,213,1)));
background: -webkit-linear-gradient(top, rgba(253,253,253,1) 0%, rgba(203,206,213,1) 100%);
background: -o-linear-gradient(top, rgba(253,253,253,1) 0%, rgba(203,206,213,1) 100%);
background: -ms-linear-gradient(top, rgba(253,253,253,1) 0%, rgba(203,206,213,1) 100%);
background: linear-gradient(to bottom, rgba(253,253,253,1) 0%, rgba(203,206,213,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#cbced5', GradientType=0 );
}
.inside-welcome {
    margin-top: 135px;
    display: inline;
    float: left;
}
.slide-left {
    margin-top: 190px;
    font-size: 85px;
    font-weight: normal;
    color: #27c7ab;
}
.slide-left:hover {
    color: #2ca48f;
}
.slide-left:active {
    color: #328f7f;
}
#welcome-img {
    margin-top: 85px;
}
#welcome-img img{
    width: 500px;
}
.welcome-info {
    text-align: center;
    width: 500px;
}
#welcome-head {
    font-size: 36px;
    font-weight: normal;
    text-transform: uppercase;
}
#welcome-head .welcome-head-span {
    color: #27c7ab;
    font-weight: bold;
}
.welcome-info article p {
    margin-top: 36px;
    margin-bottom: 26px;
}
button {
    width: 265px;
    height: 55px;
    font-family: "Raleway", Helvetica, serif;
    font-size: 25px;
    font-weight: normal;
    text-transform: uppercase;
    color: white;
    background-color: #27c7ab;
    border: none;
    border-radius: 10px;
    box-shadow: 0;
    outline: 0;
}
button:hover {
    color: grey;
    border: none;
    box-shadow: 0;
    outline: 0;
}
button:active {
    background-color: #2ca48f;
    border: none;
    box-shadow: 0;
    outline: 0;
}
button:visited {
    width: 265px;
    height: 55px;
    font-family: "Raleway", Helvetica, serif;
    font-size: 25px;
    font-weight: normal;
    text-transform: uppercase;
    color: white;
    background-color: #27c7ab;
    border: none;
    border-radius: 10px;
    box-shadow: 0;
    outline: 0;
}

.slide-rigth {
    margin-top: 190px;
    font-size: 85px;
    font-weight: normal;
    color: #27c7ab;
    float: right;
}
.slide-rigth:hover {
    color: #2ca48f;
}
.slide-rigth:active {
    color: #328f7f;
}
.products {
    height: 350px;
    background-color: white;
}
.product-presentation {
    margin-top: 30px;
    width: 329px;
    height: 225px;
    float: left;
    position: relative;
}
.product-presentation-second {
    margin-top: 30px;
    margin-left: 76.5px;
    margin-right: 76.5px;
    width: 329px;
    height: 225px;
    float: left;
    position: relative;
}
.product-image-first {
    background-image: url("../images/box1_img.jpg");
    width: 329px;
    height: 225px;
    position: relative;
}
.product-head {
    width: 329px;
    height: 60px;
    padding-left: 15px;
    background-color: rgba(255, 255, 255, 0.4);
    position: absolute;
    top: 150px;
}
.product-head h1{
    padding-top: 15px;
    width: 145px;
    font-size: 15px;
    border-bottom: 5px solid #27c7ab;
}
.product-head span {
    text-transform: uppercase;
}
.product-description {
    display: none;
    border: 1px solid grey;
    position: absolute;

}
.product-description article {
    padding-left: 20px;
    padding-top: 35px;
    padding-right: 20px;
    padding-bottom: 20px;
    font-size: 15px;
}
.product-description article h1{
    width: 145px;
    font-size: 15px;
    border-bottom: 5px solid #27c7ab;
}
.product-description article p{
    margin-top: 15px;
    margin-bottom: 10px;
}
.product-image-second {
    background-image: url("../images/box2_img.jpg");
    width: 329px;
    height: 225px;
    position: relative;
}
.product-image-third {
    background-image: url("../images/box2_img.jpg");
    width: 329px;
    height: 225px;
    position: relative;
    display: none;
}
.shown {
    display: inline-block;
}
